{% extends "master.html" %}
{% load staticfiles %}

{% block body %}
<br><br><br><br><br><br><div class="contairner">
<h2 style="text-align: center;">Universidades en el Ecuador</h2><br>
<style>
      #map {
        width: 100%;
        height: 700px;
        background-color: grey;
      }
    </style>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script >


	function initialize() {
		var mapOptions = {
			zoom: 7,
			center: {lat: -1.7874124, lng: -82.6352677},
			scrollwheel: false
		}
		var map = new google.maps.Map(document.getElementById('map'), mapOptions);

		{% for m in matriz %}
		var marcador = new google.maps.LatLng({{m.latitud}}, {{m.longitud}});
		var marker = new google.maps.Marker({
			position: marcador,
			icon: '{% static "img/matriz.png" %}',
			map: map
		});
		google.maps.event.addListener(marker, 'click', function(){
			var popup = new google.maps.InfoWindow();
			var note = '<h4>Matríz</h4><br>{{m.direccion}}<br>{{m.telefono}}';
			popup.setContent(note);
			popup.open(map, this);
		})

		{% endfor %}
		{% for s in sede %}
		var marcador = new google.maps.LatLng({{s.latitud}}, {{s.longitud}});
		var marker = new google.maps.Marker({
			position: marcador,
			icon: '{% static "img/sede.png" %}',
			map: map
		});
		google.maps.event.addListener(marker, 'click', function(){
			var popup = new google.maps.InfoWindow();
			var note = '<h4>Sede</h4><br>{{s.direccion}}<br>{{s.telefono}}';
			popup.setContent(note);
			popup.open(map, this);
		})

		{% endfor %}
		{% for e in extension %}
		var marcador = new google.maps.LatLng({{e.latitud}}, {{e.longitud}});
		var marker = new google.maps.Marker({
			position: marcador,
			icon: '{% static "img/extension.png" %}',
			map: map
		});
		google.maps.event.addListener(marker, 'click', function(){
			var popup = new google.maps.InfoWindow();
			var note = '<h4>Extensión</h4><br>{{e.direccion}}<br>{{e.telefono}}';
			popup.setContent(note);
			popup.open(map, this);
		})

		{% endfor %}

	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>
</div>


{% endblock %}
