{% extends "master.html"%}
{% load staticfiles %}

{% block body %}
<br><br><br><br><br><br>
<div class="container">
<section id="institucion">
	<div id="contlocalidad" class="container">
		<div class="row">
			<div class="col-md-8">
				<div id ="datos-localidad-izquierda" class="row">
					<div id = "c0" class="col-xs-12 .col-sm-8">
						<h2 class="section-subheading">Información de {{institucion.nombre}}</h2>
						<strong>Acrónimo:</strong> {{institucion.acronimo}}<br>
						<strong>Tipo de Institución:</strong> {{institucion.tipo}}<br>
						<strong>Categoria:</strong> {{institucion.categoria}}<br>
						<strong>Sitio Web:</strong> <a href="{{institucion.sitio_web}}" target="_blank">{{institucion.sitio_web}}<br></a>
						{% for m in matriz %}
						<strong>Direccion:</strong> {{m.direccion}}<br>
						<strong>Telefono:</strong> {{m.telefono}}<br>
						<strong>Ciudad:</strong> {{m.id_ciudad.nombre}}<br>
						<hr>
						{% endfor %}
						{% if institucion.n_docentes%}
						<h5>Información de Docentes</h5>
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span><strong> Docentes: </strong> {{institucion.n_docentes}}<br>
						<span class="glyphicon glyphicon-education" aria-hidden="true"></span><strong> Docentes con PHD: </strong> {{institucion.n_docentes_phd}}<br><hr>
						{% endif %}
						<h5>CARRERAS</h5>
						<div id="box-carreras">
						<ul>
							{% for carreras in listado_carreras %}
							<li>{{carreras.id_carrera.nombre}}</li>
							{% endfor %}
							</ul>
						</div>
						</div>
				</div>

			</div>
			<div class="col-md-4">
				<div id="divmap" class="row" style="height: 500px;">
					<h3>MAPA</h3>
					<div id="map"></div>
					<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
					<script >

					
						function initialize() {
							var myLatlng = new google.maps.LatLng({{matriz.0.latitud}}, {{matriz.0.longitud}});
							var mapOptions = {
								zoom: 7,
								center: myLatlng
							}
							var map = new google.maps.Map(document.getElementById('map'), mapOptions);

							{% for m in matriz %}
								var marcador = new google.maps.LatLng({{m.latitud}}, {{m.longitud}});
								var marker = new google.maps.Marker({
									position: marcador,
									icon: '{% static "img/matriz.png" %}',
									map: map
								});
								google.maps.event.addListener(marker, 'click', function(){
									var popup = new google.maps.InfoWindow();
									var note = '<h4>Matríz</h4><br>{{m.direccion}}<br>{{m.telefono}}';
									popup.setContent(note);
									popup.open(map, this);
								})
							
							{% endfor %}
							{% for s in sede %}
								var marcador = new google.maps.LatLng({{s.latitud}}, {{s.longitud}});
								var marker = new google.maps.Marker({
									position: marcador,
									icon: '{% static "img/sede.png" %}',
									map: map
								});
								google.maps.event.addListener(marker, 'click', function(){
									var popup = new google.maps.InfoWindow();
									var note = '<h4>Sede</h4><br>{{s.direccion}}<br>{{s.telefono}}';
									popup.setContent(note);
									popup.open(map, this);
								})
							
							{% endfor %}
							{% for e in extension %}
								var marcador = new google.maps.LatLng({{e.latitud}}, {{e.longitud}});
								var marker = new google.maps.Marker({
									position: marcador,
									icon: '{% static "img/extension.png" %}',
									map: map
								});
								google.maps.event.addListener(marker, 'click', function(){
									var popup = new google.maps.InfoWindow();
									var note = '<h4>Extensión</h4><br>{{e.direccion}}<br>{{e.telefono}}';
									popup.setContent(note);
									popup.open(map, this);
								})
							
							{% endfor %}

						}
						google.maps.event.addDomListener(window, 'load', initialize);
					</script>
			</div>
		</div>
	</div>

</div>
</section>
</div>
{% endblock%}